.flexBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.productContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-right: 10px;
}

.digiProdTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: Inter, Poppins light;
  color: white;
  font-size: 15px;
  height: 55px;
  padding-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  background-color: #383838;
}

.myCartTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.ConfirmationTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
}

.myCart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.shell {
  width: 100%;
}

.cartBox {
  display: flex;
  flex-direction: flex;
}

.Apple {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.OrderSummaryTitle{
  color: white;
  width: 100%;
  margin-bottom: 20px;
}

.checkoutBox {
  width: 100%;
  background-color: rgb(126, 126, 126);
}

.OrderSummary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #383838;
}

.userDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 180px;
  padding: 10px;

}

.OrderSubTitles {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
height: 50px;
margin-top: 15px;
font-size: 15px;
color: white;
background-color: #383838;
}

.qtyPRICE {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 200px;
}

.SubTotal {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #18181C;
  padding: 20px;
  font-size: 15px;
}

.Taxes {
  color: white;
  font-size: 17px;
  padding: 20px;
  background-color: #18181C;
}

.Total {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: 20px;
  font-size: 15px;
  height: 150px;
  background-color: #383838;
}

.OrderButton {
  margin-top: 15px;
  height: 0px;
}

.ReturnButton {
  margin-top: 35px;
  margin-bottom: 70px;
}
